body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  height: auto !important;
  margin-left: 10px;
  padding: 0px;
}

a {
  color: #45704d;
  text-decoration: none;
}

.fixedWidth {
  margin: 0 auto;
  text-align: left;
  width: 1033px;
}

#content-body {
  min-height: 200px;
  padding: 0 0 0;
}

.results h3 {
  color: #962825;
  font-size: 1.15em;
  line-height: 1.15em;
  margin-bottom: 0.3em;
}

.source-match {
  margin-bottom: 0.5em;
}

.source-name-string {
  font-weight: bold;
}

.source-current-name-string {
  font-weight: bold;
  font-size: 0.9em;
}

.source-names-score {
  margin-bottom: 0.5em;
}

.source-title {
  line-height: 1.5em;
}

.source-classification-path {
  margin-top: 5px;
  line-height: 1.3em;
}

.score {
  margin-top: 5px;
  color: #962825;
}
