{{ define "api" }}   
<div id="content-splash">
  <h2>Application Programming Interface (API)</h2>
</div>
<div id="content-body">
  <p>Web-based verification service includes a RESTful interface.</p>

  <h3 id="get">GET</h3>

  <p>
    Append a vertical line separated array of strings to your domain url.
    Make sure that '&amp;' in the names are escaped as '%26',
    and spaces are escaped as '+'.
  </p>

  <pre class='code'>
    /api/v0/verifications/Aus+bus|Aus+bus+D.+%26+M.,+1870
  </pre>

  <h3 id="post">POST</h3>

  <p><code>/api/v0/verifications</code></p>

  <p>
    with request body in JSON format according to
    <a href="https://apidoc.globalnames.org/gnames">
      specification
    </a>:
  </p>

  <pre class='code'>
    {
      "nameStrings": [
        "Pomatomus soltator",
        "Bubo bubo (Linnaeus, 1758)"
      ],
      "preferredSources": [
        1,
        12,
        169
      ]
    }
  </pre>

  <h3> OpenAPI Schema</h3>
  <p>
    Read the GNames's
    <a href="https://apidoc.globalnames.org/gnames">
      Verification OpenAPI documentation
    </a> to learn about all options and the output schema.
  </p>
</div>
{{ end }}
