{{ define "home" }}
  {{ if .Verified }}
<h2>Results</h2>
    {{ range .Verified }}
<div id="content-body">

  <div class='section'>
    <div class='searched-name'>
      <h4>{{ .Input }}</h4>
      <span class='number-matches'>Matched in {{ .DataSourcesNum }} data-sources</span>
    </div>
  </div>

  <div class='results'>
    {{ $best := .BestResult }}
    {{ if $best }}
      {{ template "results" $best}}
    {{ end }}

    {{ $pref := .PreferredResults }}

    {{ if $pref }}
    <h5>From preferred Data Sources:</h5>
    {{ end }}

    {{ range $pref }}
      {{ template "results" . }}
    {{ end }}
  </div>

</div>
    {{ end }}
  {{ else }}
  <p>Verify a list of scientific names against <a href="/data_sources">biodiversity data-sources</a>. This service parses incoming names, executes exact or fuzzy matching as required, and returns the best-scored result. It can also return matches from data-sources selected by a user.</p>
<div id='resolver-form'>
  <form action='/' method='POST'>
    <label for='names'>Paste Scientific Names, one per line (up to 5,000 names)</label>
    <textarea cols='24' name='names' rows='12'></textarea>
    <div id='advanced_options'>
      <a href='#'>Advanced Options &gt;&gt;</a>
    </div>
    <div id='advanced_selections'>
      <fieldset>
        <legend>Output</legend>
        <input id='format_html' name='format' value='html' type='radio' checked='checked'>
        <label for='format_html'>HTML</label>
        <input id='format_json' name='format' value='json' type='radio'>
        <label for='format_json'>JSON</label>
        <input id='format_csv' name='format' value='csv' type='radio'>
        <label for='format_csv'>CSV</label>
        <br/><br/>
        <input id='preferred_only' name='preferred_only' type='checkbox'>
        <label for='preferred_only'>Show Only Preferred Results</label>
      </fieldset>

      <fieldset>
        <legend>Preferred Data Sources</legend>
        <table class="nobg">
          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_1' name='ds' value='1' type='checkbox'>
              <label for='data_source_ids_1'>Catalogue of Life</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_3' name='ds' value='3' type='checkbox'>
              <label for='data_source_ids_3'>ITIS</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_4' name='ds' value='4' type='checkbox'>
              <label for='data_source_ids_4'>NCBI</label>
            </td class="nobg">
          </tr>
          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_5' name='ds' value='5' type='checkbox'>
              <label for='data_source_ids_5'>Index Fungorum</label>
            </td class="nobg">
            <td class="nobg">
              <input id='data_source_ids_9' name='ds' value='9' type='checkbox'>
              <label for='data_source_ids_9'>WoRMS</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_11' name='ds' value='11' type='checkbox'>
              <label for='data_source_ids_11'>GBIF</label>
            </td>
          </tr>
          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_167' name='ds' value='167' type='checkbox'>
              <label for='data_source_ids_167'>IPNI</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_12' name='ds' value='12' type='checkbox'>
              <label for='data_source_ids_12'>EOL</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_170' name='ds' value='170' type='checkbox'>
              <label for='data_source_ids_170'>Arctos</label>
            </td>
          </tr>
          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_179' name='ds' value='179' type='checkbox'>
              <label for='data_source_ids_179'>Open Tree Of Life</label>
            </td>
            <td class="nobg">
              <input id='data_source_ids_183' name='ds' value='183' type='checkbox'>
              <label for='data_source_ids_183'>ASM Mammal DB</label>
            </td>
            <td class="nobg">
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div>
      <input class='form-button submit-button' type='submit' value='Resolve Names'>
    </div>
  </form>
</div>
  {{ end }}
{{ end }}
