{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
  <title>Global Names Resolver</title>
  <link href="/static/styles/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="SiteContainer" class="structural">

    <div class="background"></div>

    <div id="Header" class="structural fixedWidth">
  <div class="inner">
    <div id="Logo">
      <a href="/">
        <h1>Global Names Verifier</h1>
      </a>
    </div>
    <ul id="SiteNavigation">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/data_sources">Sources</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/api">API</a></li>
    </ul>
  </div>
</div>

   <div id="BodyContent" class="structural fixedWidth clear">
     <div class="inner">
       <div id="content-wrapper">
         <div id="content-body">
           {{ if eq .Page "home" }}{{ template "home" . }}{{ end }}

<p>
<a href='https://github.com/gnames/gnverify'>Code</a>
on GitHub
</p>

         </div>
       </div>
     </div>
   </div>

   <div id="Footer" class="structural fixedWidth">
  <div class="inner">
      <span><a href="http://www.globalnames.org">Global Names Architecture</a></span>|
      <span><a href="http://gnrd.globalnames.org">Global Names Recognition &amp; Discovery</a></span>|
      <span><a href="http://gnite.org">Global Names Integrated Taxonomic Editor</a></span>
    </div>
  </div>
</div>

  </div>
</body>
</html>
{{ end }}

