---
version: 1
interactions:
- request:
    body: '{"nameStrings":["plantago major"],"dataSources":null,"withAllMatches":false,"withVernaculars":false,"withCapitalization":true,"withContext":false,"contextThreshold":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v0/verifications
    method: POST
  response:
    body: |
      {"metadata":{"namesNumber":1,"withCapitalization":true},"names":[{"id":"085e38af-e19b-56e5-9fec-5d81a467a656","name":"plantago major","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"4JLPC","outlink":"https://www.catalogueoflife.org/data/taxon/4JLPC","entryDate":"2021-11-20","matchedName":"Plantago major L.","matchedCardinality":2,"matchedCanonicalSimple":"Plantago major","matchedCanonicalFull":"Plantago major","currentRecordId":"4JLPC","currentName":"Plantago major L.","currentCardinality":2,"currentCanonicalSimple":"Plantago major","currentCanonicalFull":"Plantago major","isSynonym":false,"classificationPath":"Biota|Plantae|Tracheophyta|Magnoliopsida|Lamiales|Plantaginaceae|Digitalidoideae|Plantago|Plantago major","classificationRanks":"unranked|kingdom|phylum|class|order|family|subfamily|genus|species","classificationIds":"5T6MX|P|TP|MG|3F4|6262K|7NLQD|6RHN|4JLPC","editDistance":0,"stemEditDistance":0,"matchType":"Exact"},"dataSourcesNum":32,"curation":"Curated"}]}
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
