---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v1/data_sources/4
    method: GET
  response:
    body: |
      {"id":4,"uuid":"97d7633b-5f79-4307-a397-3c29402d9311","title":"National Center for Biotechnology Information","titleShort":"NCBI","description":"The National Center for Biotechnology Information advances science and health by providing access to biomedical and genomic information.","homeURL":"https://www.ncbi.nlm.nih.gov/","isOutlinkReady":true,"curation":"NotCurated","recordCount":2305646,"updatedAt":"2021-01-25"}
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
