---
version: 1
interactions:
- request:
    body: '{"nameStrings":["Pomatomus saltatrix (Linnaeus, 1766)","Bubo bubo (Linnaeus,
      1758)","NotAName"],"preferredSources":[4,12],"withVernaculars":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v1/verifications
    method: POST
  response:
    body: |
      [{"inputId":"744fa750-9087-5fda-b197-c44833c32bca","input":"Pomatomus saltatrix (Linnaeus, 1766)","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"888770","localId":"d9ac988f149a3d2822d71c673be09317","outlink":"http://www.catalogueoflife.org/annual-checklist/2019/details/species/id/d9ac988f149a3d2822d71c673be09317","entryDate":"2020-06-15","matchedName":"Pomatomus saltatrix (Linnaeus, 1766)","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"888770","currentName":"Pomatomus saltatrix (Linnaeus, 1766)","currentCardinality":2,"currentCanonicalSimple":"Pomatomus saltatrix","currentCanonicalFull":"Pomatomus saltatrix","isSynonym":false,"classificationPath":"Animalia|Chordata|Actinopterygii|Perciformes|Pomatomidae|Pomatomus|Pomatomus saltatrix","classificationRanks":"kingdom|phylum|class|order|family|genus|species","editDistance":0,"stemEditDistance":0,"matchType":"Exact"},"preferredResults":[{"dataSourceId":4,"dataSourceTitleShort":"NCBI","curation":"NotCurated","recordId":"75034","outlink":"https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef\u0026name=Pomatomus%20saltatrix\u0026lvl=0\u0026srchmode=1\u0026keep=1\u0026unlock","entryDate":"2021-01-25","matchedName":"Pomatomus saltatrix","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"75034","currentName":"Pomatomus saltatrix","curren[...]
