---
version: 1
interactions:
- request:
    body: '{"nameStrings":["Pomatomus saltatrix (Linnaeus, 1766)"],"dataSources":[1,12],"withAllMatches":false,"withVernaculars":false,"withCapitalization":false,"withContext":false,"contextThreshold":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v1/verifications
    method: POST
  response:
    body: |
      {"metadata":{"namesNumber":1,"dataSources":[1,12]},"names":[{"id":"744fa750-9087-5fda-b197-c44833c32bca","name":"Pomatomus saltatrix (Linnaeus, 1766)","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"4LQWC","outlink":"https://www.catalogueoflife.org/data/taxon/4LQWC","entryDate":"2021-11-20","matchedName":"Pomatomus saltatrix (Linnaeus, 1766)","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"4LQWC","currentName":"Pomatomus saltatrix (Linnaeus, 1766)","currentCardinality":2,"currentCanonicalSimple":"Pomatomus saltatrix","currentCanonicalFull":"Pomatomus saltatrix","isSynonym":false,"classificationPath":"Biota|Animalia|Chordata|Actinopterygii|Perciformes|Pomatomidae|Pomatomus|Pomatomus saltatrix","classificationRanks":"unranked|kingdom|phylum|class|order|family|genus|species","classificationIds":"5T6MX|N|CH2|CT|PC|627KT|63P2X|4LQWC","editDistance":0,"stemEditDistance":0,"matchType":"Exact"},"results":[{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"4LQWC","outlink":"https://www.catalogueoflife.org/data/taxon/4LQWC","entryDate":"2021-11-20","matchedName":"Pomatomus saltatrix (Linnaeus, 1766)","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"4LQWC","currentName":"Pomatomus saltatrix (Linnaeus, 1766)","currentCardinality":2,"currentCanonicalSimple":"Pomatomus saltatrix","currentCanonicalFull":"Pomatomus saltatrix","isSynonym":false,"classificationPath":"Biota|Animalia|Chordata|Actinopterygii|Perciformes|Pomatomidae|Pomatomus|Pomatomus saltatrix","classificationRanks":"unranked|kingdom|phylum|class|order|family|genus|species","classificationIds":"5T6MX|N|CH2|CT|PC|627KT|63P2X|4LQWC","editDistance":0,"stemEditDistance":0,"matchType":"Exact"},{"dataSourceId":12,"dataSourceTitleShort":"EOL","curation":"NotCurated","recordId":"46578890","localId":"46578890","outlink":"https://eol.org/pages/46578890","entryDate":"2021-06-24","matchedName":"Pomatomus saltatrix","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"46578890","currentName":"Pomatomus saltatrix","currentCardinality":2,"currentCanonicalSimple":"Pomatomus saltatrix","currentCanonicalFull":"Pomatomus saltatrix","isSynonym":false,"editDistance":0,"stemEditDistance":0,"matchType":"Exact"}],"dataSourcesNum":26,"curation":"Curated"}]}
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
