---
version: 1
interactions:
- request:
    body: '{"nameStrings":["Pomatomus saltatrix (Linnaeus, 1766)","Bubo bubo (Linnaeus,
      1758)","NotAName"],"dataSources":[4,12],"withAllMatches":false,"withVernaculars":false,"withCapitalization":false,"withContext":false,"contextThreshold":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v0/verifications
    method: POST
  response:
    body: |
      {"metadata":{"namesNumber":3,"dataSources":[4,12]},"names":[{"id":"744fa750-9087-5fda-b197-c44833c32bca","name":"Pomatomus saltatrix (Linnaeus, 1766)","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"4LQWC","outlink":"https://www.catalogueoflife.org/data/taxon/4LQWC","entryDate":"2021-11-20","matchedName":"Pomatomus saltatrix (Linnaeus, 1766)","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"4LQWC","currentName":"Pomatomus saltatrix (Linnaeus, 1766)","currentCardinality":2,"currentCanonicalSimple":"Pomatomus saltatrix","currentCanonicalFull":"Pomatomus saltatrix","isSynonym":false,"classificationPath":"Biota|Animalia|Chordata|Actinopterygii|Perciformes|Pomatomidae|Pomatomus|Pomatomus saltatrix","classificationRanks":"unranked|kingdom|phylum|class|order|family|genus|species","classificationIds":"5T6MX|N|CH2|CT|PC|627KT|63P2X|4LQWC","editDistance":0,"stemEditDistance":0,"matchType":"Exact"},"results":[{"dataSourceId":4,"dataSourceTitleShort":"NCBI","curation":"NotCurated","recordId":"75034","outlink":"https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef\u0026name=Pomatomus%20saltatrix\u0026lvl=0\u0026srchmode=1\u0026keep=1\u0026unlock","entryDate":"2021-06-23","matchedName":"Pomatomus saltatrix","matchedCardinality":2,"matchedCanonicalSimple":"Pomatomus saltatrix","matchedCanonicalFull":"Pomatomus saltatrix","currentRecordId":"75034","currentName":"Pomatomus saltatrix","curren[...]
