---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://verifier.globalnames.org/api/v0/search/n:Bubo%20bubo%20all:true
    method: GET
  response:
    body: |
      {"metadata":{"input":{"query":"n:Bubo bubo all:true","withAllResults":true,"nameString":"Bubo bubo","genus":"Bubo","species":"bubo"},"namesNumber":59},"names":[{"id":"4431a0f3-e901-519a-886f-9b97e0c99d8e","name":"Bubo bubo","cardinality":2,"matchType":"FacetedSearch","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"NKSD","outlink":"https://www.catalogueoflife.org/data/taxon/NKSD","entryDate":"2021-11-20","matchedName":"Bubo bubo (Linnaeus, 1758)","matchedCardinality":2,"currentRecordId":"NKSD","currentName":"Bubo bubo (Linnaeus, 1758)","currentCardinality":2,"currentCanonicalSimple":"Bubo bubo","currentCanonicalFull":"Bubo bubo","isSynonym":false,"classificationPath":"Biota|Animalia|Chordata|Aves|Strigiformes|Strigidae|Striginae|Bubo|Bubo bubo","classificationRanks":"unranked|kingdom|phylum|class|order|family|subfamily|genus|species","classificationIds":"5T6MX|N|CH2|V2|466|GQX|KDK|3DQQ|NKSD","editDistance":0,"stemEditDistance":0,"matchType":"FacetedSearch","scoreDetails":{"infraSpecificRankScore":0,"fuzzyLessScore":1,"curatedDataScore":1,"authorMatchScore":0.2857143,"acceptedNameScore":1,"parsingQualityScore":1}},"results":[{"dataSourceId":1,"dataSourceTitleShort":"Catalogue of Life","curation":"Curated","recordId":"NKSD","outlink":"https://www.catalogueoflife.org/data/taxon/NKSD","entryDate":"2021-11-20","matchedName":"Bubo bubo (Linnaeus, 1758)","matchedCardinality":2,"currentRecordId":"NKSD","currentName":"Bubo bubo (Linnaeus, 1758)","currentCardinality":2,"currentCanonicalSimple":"Bubo bubo","currentCanonicalFull":"Bubo bubo","isSynonym":false,"classificationPath":"Biota|Animalia|Chordata|Aves|Strigiformes|Str[...]
