{{ define "data_sources" }}
<h2>Data Sources</h2>

<div id="content-body">

  <div id='ds-filter-wrap'>
    <input id='ds-filter' type='text' placeholder='Filter by title or short title…' />
  </div>

  <table id='data-sources' style='width: 95%;'>
    <tr>
      <th class='identifier'>ID</th>
      <th>Title</th>
      <th>Short Title</th>
      <th>Updated At</th>
    </tr>
    {{ range $index, $ds := .DataSources }}
      {{ if isEven $index }}
    <tr class='even'>
      {{ else }}
    <tr class='odd'>
      {{ end }}
      <td class='identifier'>{{$ds.ID}}</td>
      <td><a href="/data_sources/{{ $ds.ID }}">{{ $ds.Title }}</a></td>
      <td>{{ $ds.TitleShort }}</td>
      <td>{{ $ds.UpdatedAt }}</td>
    </tr>
    {{ end }}
  </table>
</div>
{{ end }}
