{{ define "home" }}
{{ if .Verified }}
<h2>Results</h2>
{{ range .Verified }}
<div id="content-body">

  <div class='section'>
    <div class='searched-name'>
      <h4>{{ .Name }}</h4>
      <span class='number-matches'>Matched in {{ .DataSourcesNum }} data-sources</span>
    </div>
  </div>

  {{ if .OverloadDetected }}
  <div class='warning'>
    <span class='warning-sign'>⚠</span> {{ .OverloadDetected }}
  </div>
  {{ end }}

  <div class='results'>
    {{ $best := .BestResult }}
    {{ if $best }}
    <h3>Best Result Only:</h3>
    {{ template "results" $best}}
    {{ end }}

    {{ $res := .Results }}

    {{ if $res }}
    <h3>All Results:</h3>
    {{ end }}

    {{ range $res }}
    {{ template "results" . }}
    {{ end }}
  </div>

</div>
{{ end }}
{{ else }}
<p>Learn how to <a href='https://github.com/gnames/gnverifier/wiki/OpenRefine-readme'>use GNverifier with OpenRefine</a></p>

<p>Verify a list of scientific names against
  <a href="/data_sources">biodiversity data-sources</a>.
  This service parses incoming names, executes exact or
  fuzzy matching as required, and returns the best-scored result.
  Optionally, it can also return matches from data-sources selected by a user.
</p>

<div id='resolver-form'>
    <p>
      Paste Scientific Names, one per line (up to 5,000 names) <br/>or write an
      <a href='https://github.com/gnames/gnverifier#advanced-search-query-language'
      target='_blank'>Advanced Search Query</a>
      (e.g.:
      <code style='background-color: #ddd; padding: 0.2em'>n:B. bubo Linn. 1700-1800</code>).
    </p>
  <form action='/' method='POST'>
    <div>
      <label for='format'>Output format</label>
      <select id='format' name='format'>
        <option value='html'>HTML</option>
        <option value='json'>JSON</option>
        <option value='csv'>CSV</option>
        <option value='tsv'>TSV</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <input id='capitalize' name='capitalize' type='checkbox' checked='checked'/>
      <label for='capitalize'>Capitalize the first rharacter</label>
      &nbsp;&nbsp;&nbsp;
        <input id='all_matches' name='all_matches' type='checkbox'>
        <label for='all_matches'>Show All Matches</lbel>
    </div>
    <textarea cols='24' name='names' rows='12'></textarea>
    <div id='advanced_options'>
      <a href='#'>Advanced Options &gt;&gt;</a>
    </div>
    <div id='advanced_selections'>

      <table class="nobg">
        <tr class="nobg">
          <td class="nobg">
            <input id='fuzzy_relaxed' name='fuzzy_relaxed' type='checkbox'/>
            <label for='fuzzy_relaxed'>Relax fuzzy matching rules (50 names max)</label>
          </td>
          <td class="nobg">
            <input id='fuzzy_uninomial' name='fuzzy_uninomial' type='checkbox'/>
            <label for='fuzzy_uninomial'>Include uninomials into fuzzy matching</label>
          </td>
        </tr>
        <tr class="nobg">
          <td class="nobg">
            <input id='species_group' name='species_group' type='checkbox'/>
            <label for='species_group'>Use species group in verification</label>
          </td>
          <td class="nobg">
          </td>
        </tr>
      </table>

      <fieldset>
        <legend>Pick Data Sources</legend>
        <table class="nobg">
          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_195' name='ds' value='195' type='checkbox'>
              <label for='data_source_ids_195'>AlgaeBase</label><a href="/data_sources/195">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_170' name='ds' value='170' type='checkbox'>
              <label for='data_source_ids_170'>Arctos</label><a href="/data_sources/170">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_183' name='ds' value='183' type='checkbox'>
              <label for='data_source_ids_183'>ASM Mammal DB</label><a href="/data_sources/183">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_1' name='ds' value='1' type='checkbox'>
              <label for='data_source_ids_1'>Catalogue of Life</label><a href="/data_sources/1">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_12' name='ds' value='12' type='checkbox'>
              <label for='data_source_ids_12'>EOL</label><a href="/data_sources/12">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_11' name='ds' value='11' type='checkbox'>
              <label for='data_source_ids_11'>GBIF</label><a href="/data_sources/11">🛈</a>
            </td>
          </tr>


          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_180' name='ds' value='180' type='checkbox'>
              <label for='data_source_ids_180'>iNaturalist</label><a href="/data_sources/180">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_5' name='ds' value='5' type='checkbox'>
              <label for='data_source_ids_5'>Index Fungorum</label><a href="/data_sources/5">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_168' name='ds' value='168' type='checkbox'>
              <label for='data_source_ids_168'>ION</label><a href="/data_sources/168">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_167' name='ds' value='167' type='checkbox'>
              <label for='data_source_ids_167'>IPNI</label><a href="/data_sources/167">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_181' name='ds' value='181' type='checkbox'>
              <label for='data_source_ids_181'>IRMNG</label><a href="/data_sources/181">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_3' name='ds' value='3' type='checkbox'>
              <label for='data_source_ids_3'>ITIS</label><a href="/data_sources/3">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_204' name='ds' value='204' type='checkbox'>
              <label for='data_source_ids_204'>Fungal Names</label><a href="/data_sources/204">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_208' name='ds' value='208' type='checkbox'>
              <label for='data_source_ids_208'>LPSN</label><a href="/data_sources/208">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_186' name='ds' value='186' type='checkbox'>
              <label for='data_source_ids_186'>MCZbase</label><a href="/data_sources/186">🛈</a>
            </td class="nobg">
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_203' name='ds' value='203' type='checkbox'>
              <label for='data_source_ids_203'>MycoBank</label><a href="/data_sources/203">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_4' name='ds' value='4' type='checkbox'>
              <label for='data_source_ids_4'>NCBI</label><a href="/data_sources/4">🛈</a>
            </td class="nobg">
            <td class="nobg">
              <input id='data_source_ids_205' name='ds' value='205' type='checkbox'>
              <label for='data_source_ids_205'>Nomenclator Zoologicus</label><a href="/data_sources/205">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_209' name='ds' value='209' type='checkbox'>
              <label for='data_source_ids_209'>NZOR</label><a href="/data_sources/209">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_179' name='ds' value='179' type='checkbox'>
              <label for='data_source_ids_179'>Open Tree Of Life</label><a href="/data_sources/179">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_172' name='ds' value='172' type='checkbox'>
              <label for='data_source_ids_172'>PaleoBioDB</label><a href="/data_sources/172">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_194' name='ds' value='194' type='checkbox'>
              <label for='data_source_ids_194'>Plazi</label><a href="/data_sources/194">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_165' name='ds' value='165' type='checkbox'>
              <label for='data_source_ids_165'>Tropicos</label><a href="/data_sources/165">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_147' name='ds' value='147' type='checkbox'>
              <label for='data_source_ids_147'>VASCAN</label><a href="/data_sources/147">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_197' name='ds' value='197' type='checkbox'>
              <label for='data_source_ids_197'>WCVP Kew</label><a href="/data_sources/197">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_207' name='ds' value='207' type='checkbox'>
              <label for='data_source_ids_207'>Wikidata</label><a href="/data_sources/207">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_2' name='ds' value='2' type='checkbox'>
              <label for='data_source_ids_2'>Wikispecies</label><a href="/data_sources/2">🛈</a>
            </td>
          </tr>

          <tr class="nobg">
            <td class="nobg">
              <input id='data_source_ids_196' name='ds' value='196' type='checkbox'>
              <label for='data_source_ids_196'>World Flora Online</label><a href="/data_sources/196">🛈</a>
            </td>
            <td class="nobg">
              <input id='data_source_ids_9' name='ds' value='9' type='checkbox'>
              <label for='data_source_ids_9'>WoRMS</label><a href="/data_sources/9">🛈</a>
            </td>
            <td class="nobg"/>
          </tr>
        </table>
      </fieldset>
    </div>
    <div>
      <input class='form-button submit-button' type='submit' value='Search Names'>
    </div>
  </form>
</div>
{{ end }}
{{ end }}
